@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MySecureBank</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="container">
            <h1>MySecureBank</h1>
            <nav>
                <a asp-controller="Home" asp-action="Index">Home</a>
                <a asp-controller="Account" asp-action="Register">Register</a>
                <a asp-controller="Account" asp-action="Login">Login</a>
            </nav>
        </div>
    </header>
    <main class="container">
        @RenderBody()
    </main>
    <footer class="container">© @DateTime.UtcNow.Year MySecureBank</footer>
</body>
</html>
